<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Aout</title>
</head>

<body>
    {{>header}}
    <p>Data Taken from MapBox and Darknet</p>
    <img src="./img/vs.jpeg" alt="Vidit Shah" srcset="">
    <p>Hello my Name is :{{name}} and I'm a {{Profession}}</p>
    {{>footer}}
</body>

</html>