<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Home</title>
</head>

<body>
    {{>header}}

    <p>This Application is created by {{name}}</p>
    {{>footer}}
    <form>
        <input type="text" placeholder="Mumbai">
        <button>Search</button>
    </form>

    <p id='message-1'></p>

    <p id='message-2'></p>
    <script src="./Scripts/app.js"></script>

</body>

</html>